// @import "functions";
// @import "variables";

//MY THEME VOLORS
$otech-red: #ff0000da;

$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black:    #000 ;

$primary: $otech-red;
$secondary: $white;
$light: $gray-200;
$dark: $black;
$gradient: linear-gradient(to right, $primary 40%, $secondary);



//import BOOTSTRAP
@import "Bootstrap";